<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <title>Music List</title>
  </head>
  <body>

  <div class="header">
    <h1>Music List</h1>
    <h2>Welcome!</h2>
  </div>
<div id="main-block">
    <div id="searchlist">
    <h2>Search for: </h2>
    <ul>
      <li> <%= link_to('Artists', controller: 'artist', action: 'search')%> </li>
      <li> <%= link_to('Albums', controller: 'albums', action: 'search')%> </li>
      <li> <%= link_to('Songs', controller: 'songs', action: 'search')%> </li>
    </ul>
  </div>
  <div id="genrelist">
    <h2>Top Charts:</h2>
    <ul>
      <li> <%= link_to('Songs', controller: 'topsong', action: 'chart')%> </li>
      <li><%= link_to('Artists', controller: 'topartist', action: 'chart')%></li>
      <li><%= link_to('Trends', controller: 'toptags', action: 'chart')%></li>
    </ul>
  </div>
  <div id="artistlist">
    <h2>Online Music Players:</h2>
    <ul>
      <li><a href="https://soundcloud.com"> SoundCloud </a></li>
      <li><a href="http://www.last.fm/home"> Last.FM </a></li>
      <li><a href="http://www.pandora.com/"> Pandora </a></li>
    </ul>
  </div>
  </div>
  <footer>
    <p> Andrew Lever - Anastasia Bykova  </p>
  </footer>
  </body>
</html>
