<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <title>Music List</title>
  </head>
  <body>

  <div class="header">
    <h1>Music List</h1>
  </div>
<div id="main-block">
  <h2>Search for: </h2>
    <div id="searchlist">
      <div id="icons">
 <%= link_to image_tag("artist.jpg", class: "homepageimg"), controller: 'artist', action: 'search'%>

    <%= link_to image_tag("album.jpg", class: "homepageimg"), controller: 'albums', action: 'search'%>

    <%= link_to image_tag("song.jpg", class: "homepageimg"), controller: 'songs', action: 'search'%>

  </div>
</div>
  <h2>Top Charts:</h2>
  <div id="genrelist">
      <%= link_to image_tag("songs2.jpg", class: "homepageimg"), controller: 'topsong', action: 'chart'%>
      <%= link_to image_tag("topartist.jpg", class: "homepageimg"), controller: 'topartist', action: 'chart'%>
      <%= link_to image_tag("trends.jpg", class: "homepageimg"), controller: 'toptags', action: 'chart'%>
  </div>
  <h2>Online Music Players:</h2>
  <div id="artistlist">
  <a href="https://soundcloud.com"><%= image_tag("unnamed", class: "links")%></a>
  <a href="http://www.last.fm/home"><%= image_tag("lastfm", class: "links")%> </a>
  <a href="http://www.pandora.com/"> <%= image_tag("pandora", class: "links")%> </a>

  </div>
  </div>
  </body>
</html>
