  <div class="header">
    <h1>Lisztomania</h1>
  </div>
<div id="main-block">
  <h2>Search:</h2>
    <div id="searchlist">
      <!-- <div id="icons"> -->
 <span id="artistCat"><%= link_to image_tag("artist.jpg", class: "homepageimg"), controller: 'artist', action: 'search'%></span>

    <span id="albumCat"><%= link_to image_tag("album.jpg", class: "homepageimg"), controller: 'albums', action: 'search'%></span>

    <span id="songCat"><%= link_to image_tag("song.jpg", class: "homepageimg"), controller: 'songs', action: 'search'%></span>

  <!-- </div> -->
</div>
  <h2>Top Charts:</h2>
  <div id="genrelist">
      <span id="artistsCat"><%= link_to image_tag("topartist.jpg", class: "homepageimg"), {controller: 'topartist', action: 'chart'}%></span>
      <span id="songsCat"><%= link_to image_tag("song2.jpg", class: "homepageimg"), {controller: 'topsong', action: 'chart'}%></span>
      <span id="trendsCat"><%= link_to image_tag("trends.jpg", class: "homepageimg"), {controller: 'toptags', action: 'chart'}%></span>
  </div>
  <h2 id="musicplayers">Online Music Players:</h2>
  <div id="artistlist">
  <div id="playerimgs">
  <a href="https://soundcloud.com"><%= image_tag("unnamed", class: "links")%></a>
  <a href="http://www.last.fm/home"><%= image_tag("lastfm", class: "links", id: "lastfm")%> </a>
  <a href="http://www.pandora.com/"> <%= image_tag("pandora", class: "links")%> </a>
</div>
  </div>
  </div>
<footer> <p>created by Andrew Lever / Anastasia Bykova</p> </footer>
