<div class="header">
  <h1> Top Artists</h1>
</div>

  <div class="chartlist">
    <p class="intro"> Here are the top artists of the week! </p>
    <p class="intro"> (Provided by LastFM) </p>
    <div id="songschart">
  <%= @results.each do |x| %>
  <ul id="songschart">
      <li class="img"><span class="chartnumber"> <%= @counter %>: </span> <a href="<%=x['url']%>"> <img class="artistimg" src="<%= x['image'][1]['#text'] %>" /> </a> </li>
    <li> Artist:  <%= x['name'] %> </li>
  <% @counter +=1 %>
  <% break if @counter == 25 %>
</ul>
    <% end %>
</div>
</div>
