<!DOCTYPE html>
<html>
  <head>
    <title>MusicList</title>
    <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav> <div id="navi">
    <%= link_to('Home', controller: 'static', action: 'main_page')%>
    <%= link_to('Artists', controller: 'artist', action: 'search')%>
    <%= link_to('Albums', controller: 'albums', action: 'search')%>
    <%= link_to('Songs', controller: 'songs', action: 'search')%>
    <%= link_to('Top Songs', controller: 'topsong', action: 'chart')%>
    <%= link_to('Top Artists', controller: 'topartist', action: 'chart')%>
    <%= link_to('Top Trends', controller: 'toptags', action: 'chart')%>
  </div>  </nav>
    <%= yield %>
  </body>
</html>
